.claude
!**/.vscode/extensions.json
!**/.vscode/launch.template.json
!**/.vscode/settings.template.json
!**/.vscode/tasks.json
!.env.example
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!tests/baselines/reference/project/nodeModules*/**/*
!tests/cases/projects/NodeModulesSearch/**/*
!tests/cases/projects/projectOption/**/node_modules
!tests/cases/webharness/compilerToString.js
**/.DS_Store
**/.vitepress/cache
**/.vitepress/dist
**/.vs
**/.vscode/*
*.actual
*.config
*.iml
*.iws
*.lcov
*.log
*.log*
*.pid
*.pid.lock
*.pyc
*.seed
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.tgz
*.tsbuildinfo
*v8.log
*~
.DS_STORE
.DS_Store
.\#*
.cache
.cache/
.claude/*.local.*
.docusaurus
.dynamodb/
.env
.env.*
.env.local
.eslintcache
.failed-tests
.firebase/
.flowconfig
.fusebox/
.grunt
.idea
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/copilot.data.migration.*.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/.cache/.Apifox_Helper
.idea/ApifoxUploaderProjectSetting.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint.xml # see https://community.sonarsource.com/t/is-the-file-idea-idea-idea-sonarlint-xml-intended-to-be-under-source-control/121119
.idea/sonarlint/
.idea_modules/
.lock-wscript
.module-cache
.next
.node_modules/
.node_repl_history
.npm
.nuxt
.nyc_output
.output
.parallelperf.*
.parcel-cache
.pnp.*
.pnpm-store
.serverless/
.settings
.stylelintcache
.svelte-kit/
.temp
.tern-port
.vite/
.vscode
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
/.worktrees
/lib/
/tmp
TEST-results.xml
Thumbs.db
\#*\#
_SpecRunner.html
__benchmarks__
atlassian-ide-plugin.xml
bower_components
build.json
build/
build/Release
built/*
chrome-user-data
cmake-build-*/
com_crashlytics_export_strings.xml
coverage
coverage/
crashlytics-build.properties
crashlytics.properties
dist
dist/
fabric.properties
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
http-client.private.env.json
internal/
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules
node_modules/
npm-debug.log*
out
out/
package-lock.json
packages/react-devtools-core/dist
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/shared/build
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist
pids
remote-repo/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
rwc-report.html
scripts/**/*.js
scripts/**/*.js.map
scripts/debug.bat
scripts/eslint/built/
scripts/flow/*/.flowconfig
scripts/run.bat
src/compiler/diagnosticInformationMap.generated.ts
src/compiler/diagnosticMessages.generated.json
src/harness/*.js
src/parser/diagnosticInformationMap.generated.ts
src/parser/diagnosticMessages.generated.json
test-args.txt
test/the-files-to-test.generated.js
tests/baselines/local.old/*
tests/baselines/local/*
tests/baselines/local/projectOutput/*
tests/baselines/prototyping/local/*
tests/baselines/reference/dt
tests/baselines/reference/projectOutput/*
tests/baselines/reference/testresults.tap
tests/baselines/rwc/*
tests/baselines/symlinks/*
tests/cases/**/*.js
tests/cases/**/*.js.map
tests/cases/perf/*
tests/cases/rwc/*
tests/services/baselines/local/*
tests/services/baselines/prototyping/local/*
tests/services/browser/typescriptServices.js
tests/webTestServer.js
tests/webTestServer.js.map
tests/webhost/*.d.ts
tests/webhost/webtsc.js
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
web_modules/
yarn-debug.log*
yarn-error.log
yarn-error.log*
yarn.lock
~*.docx